{% extends "blog/base.html" %}
{% block content %}

    <div class="mb-5"><h1>Contact Page</h1></div>

    <!-- Contact Form -->
    <div class="col-12 col-md-12">
        <div class="content-section">
        <!-- Section Heading -->
        <div class="">
            <h2>Get In Touch</h2>
            <div class="line"></div>
        </div>
        <!-- Form -->
        <form action="{% url 'blog-contact' %}" method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-lg-6">
                <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
            </div>
            <div class="col-lg-6">
                <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
            </div>
            <div class="col-12">
                <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn dento-btn">Send Message</button>
            </div>
            </div>
        </form>
        </div>
    </div>
{% endblock content %}